:root{
  --background: #E5E5E5;
  --primary-color: #00984A;
  --secondary-color: #D3D800;
  --text-color: #3D3D4D;
  --placeholder-color: #A8A8B3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
